{% extends "base.html" %}

{% block title %}Ver Producto{% endblock %}

{% block content %}
<div class="container">
    <h2>Detalles del Producto</h2>
    <p>Producto: {{ producto.producto }}</p>
    <p>Categoria: {{ producto.categoria }}</p>
    <p>Precio: {{ producto.precio }}</p>
    <p>Descripción: {{ producto.descripcion }}</p>
    <a href="{% url 'homeProducto' %}" class="btn btn-secondary">
        <span class="icon text-white-50">
            <i class="fas fa-arrow-left"></i>
        </span>
        <span class="text">Regresar</span>
    </a>
</div>
{% endblock %}
